@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


.tap-target-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 48px; /* Set the minimum height for tap targets */
  padding: 10px; /* Add padding for better tap area */
  color: #374151; /* Adjust the color as needed */
  text-decoration: none;
}

.tap-target-text {
  flex-grow: 1; /* Ensure text takes up available space */
  margin-right: 10px; /* Add space between text and count */
}

.tap-target-count {
  color: #9ca3af; /* Adjust the color as needed */
}